<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>639186771500-g3t8404j53kevosd3rbcq0lvtkb3ejrc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.639186771500-g3t8404j53kevosd3rbcq0lvtkb3ejrc</string>
	<key>API_KEY</key>
	<string>AIzaSyB2ExnnP833qk5AceDaV6mM6-micV8MpJM</string>
	<key>GCM_SENDER_ID</key>
	<string>639186771500</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.lightyChat</string>
	<key>PROJECT_ID</key>
	<string>lightychat1</string>
	<key>STORAGE_BUCKET</key>
	<string>lightychat1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:639186771500:ios:5bc2584675926061253b89</string>
</dict>
</plist>